/**
 * Common Style Sheet
 * Shawarma-Template
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */


/*
	System components rely on existence of following variables. Their
	removal is not advisable, however you are free to define new or
	changing existing values.
*/
@section_spacing: 4rem;
@header_spacing: 1rem;
@paragraph_spacing: 1rem;
@control_spacing: 1rem;
@button_padding: 0.5rem 1rem;
@input_padding: 0.5rem;

@section_padding: @section_spacing calc(~'(100% - 1200px)' / 2 );
@finger_size: 2.5rem;

.default-button(@color_text, @color_background) {
	text-decoration: none;
	color: @color_text;
	background-color: @color_background;
	padding: 1.5em;
}

.link-hover-effect() {
	transform: translateY(-10%);
	box-shadow: 0px 27px 23px -17px rgba(0,0,0,0.75);
}