/**
 * Content Style Sheet
 * Shawarma-Template
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

body > div.floating_form {
	display: none;
}

/**
 * Section products
 */
section.content {
	padding: @section_padding;
	text-align: center;

	article.kodkod.generic {
		text-align: left;

		html[dir=rtl] & {
			text-align: right;
		}
	}

	article.kodkod.feature_generic {
		display: inline-block;
		width: calc(~'(100% - 6rem) / 3');
		margin: @paragraph_spacing;
		vertical-align: top;

		svg {
			width: 80px;
			height: auto;
		}
	}
}

/**
 *	Dialog
 */
div.dialog.visible {
	top: 20%;
}
div.dialog.visible div.title {
	background-color: @footer_background_color;
}

div.dialog.visible div.inner_content div.floating_form {
	display: block;
	box-sizing: border-box;
	padding: 1em;
}

div.dialog.visible div.content div.command_bar a {
	margin-top: 0.5em;
	padding: 0.5em;
	font-family: "ultra";
	background-color: @color_text;
	border-radius: 15px;
}

div.dialog.visible div.content div.command_bar a:hover {
	color: @footer_background_color;
}
