/**
 * Content-mobile Style Sheet
 * Shawarma-Template
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

section.content {
	text-align: center;
	padding: 0 @paragraph_spacing;

	article {
		display: block;
		width: 100%;

		svg {
			width: 25%;
			height: 25%;
		}
	}
}

/**
 *	Dialog
 */

div.dialog.visible {
	top: 20%;

	div.title {
		background-color: @footer_background_color;
	}

	div.inner_content div.floating_form {
		display: block;
		box-sizing: border-box;
		padding: @paragraph_spacing;
	}

	div.content div.command_bar a {
		margin-top: 0.5em;
		padding: 0.5em;
		font-family: "ultra";
		background-color: @footer_button_background_color;
		border-radius: 15px;
	}
}