/**
 * Footer Style Sheet
 * Shawarma-Template
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

footer {
	padding: @section_padding;
	background-color: @footer_background_color;
	position: relative;

	div.content_left {
		color: @color_background;
		display: inline-block;
		vertical-align: top;
		margin-right: @paragraph_spacing;
		width: calc(~'(100% - 2rem) / 2');

		article {
			display: block;
			width: 100%;

			&.generic:after {
				content: "";
				top: 100%;
				left: 0;
				display: block;
				width: 100%;
				margin-bottom: 1em;
				background-color: @color_background;
				height: 1px;
			}

			h2 {
				margin-top: 0;
			}
		}

		a {
			.default-button(@color_background, @footer_button_background_color);
			border-radius: 15px;
			padding: 1rem 1.5rem;
			margin: 0.5em 0;
			display: inline-block;
			transition: all 0.3s;

			&:hover,
			&:active {
				transform: translateY(-10%);
				box-shadow: 0px 27px 23px -17px darken(@footer_background_color, 50%);
				color: @footer_background_color;
				transition: all 0.3s;
			}
		}

	}

	div.form_container  {
		display: inline-block;
		vertical-align: top;
		width: calc(~'(100% - 2rem) / 2');
		box-sizing: border-box;
		border: 1px solid @color_background;
		border-radius: 5px;
		background-color: @color_background;

		form {
			display: block;

			label {

				select,
				input {
					padding: 1em 0.25em;
					box-sizing: border-box;
					background-color: @color_background;
					border: 1px solid @color_text;

					&:hover,
					&:focus {
						border: 1px solid @footer_background_color;
					}
				}
			}
		}

		div.controls {
			text-align: center;

			button {
				text-decoration: none;
				color: white;
				background-color: @footer_button_background_color;
				padding: @paragraph_spacing 1.5rem;
				border-radius: 15px;
				font-weight: 400;
				border: 1px solid transparent;
				transition: all 0.3s;

				&:hover,
				&:active {
					transform: translateY(-10%);
					box-shadow: 0px 27px 23px -17px darken(@footer_background_color, 50%);
					color: @footer_background_color;
					transition: all 0.3s;
				}
			}
		}
	}

	div.copyright {
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: @color_text;
		color: white;
		text-align: center;
		background-position: calc(~'50% - 130px') center;
		padding: 1em 0;

		a:hover,
		a:active {
			color:@footer_background_color;
			transition: all 0.3s;
		}
	}
}