/**
 * Header Style Sheet
 * Shawarma-Template
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

header {
	background: @header_background_color;
	text-align: center;
	color: white;
	height: 100vw;

	a {
		.default-button(@color_text_header, @action_button_background);

		display: block;
		width: 50%;
		margin: 0 auto;
		padding: 0.5em;
		border-radius: 15px;
		box-shadow:  0px 0px 23px -5px rgba(0,0,0,0.75);

		&:active {
			transform: translateY(-10%);
			box-shadow: 0px 27px 23px -17px rgba(0,0,0,0.75);
		}
	}

	article {
		padding: @control_spacing;
	}

	figure.logo {
		display: inline-block;
		width: 12rem;
		height: 12rem;

		background-image: url(@logo);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}
