/**
 * Header Style Sheet
 * Shawarma-Template
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

header {
	position: relative;
	min-height: 600px;
	padding: @section_padding;
	background: @header_background_color;

	color: @color_text_header;
	text-align: center;

	a.action {
		.default-button(@color_text_header, @action_button_background);
		display: block;
		padding: 1rem 1.5rem;
		width: 150px;
		margin: @control_spacing auto;
		border-radius: 15px;
		box-shadow:  0px 0px 23px -5px rgba(0,0,0,0.75);
		transition: all 0.3s;

		&:hover,
		&:active {
			.link-hover-effect();
		}
	}

	article {
		padding: @control_spacing;
	}

	figure.logo {
		display: inline-block;
		width: 12rem;
		height: 12rem;

		background-image: url(@logo);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}
