/**
 * Generic Mobile Features Style
 * Kodkod Templates
 *
 * Copyright © 2018 Way2CU. All Rights Reserved.
 * Author: Vladimir Anusic
 */

article.kodkod.feature_generic {
	margin: 1rem;
	padding: 1rem;
	display: block;

	> svg {
		display: block;
	}
}