/**
 * Inline Features Style
 * Kodkod Templates
 *
 * Copyright © 2018 Way2CU. All Rights Reserved.
 * Author: Vladimir Anusic
 */

ul.kodkod.generic {
	margin: 0;
	padding: 0;
	text-align: center;

	& > li {
		display: inline-block;
		margin: 1rem;
		width: 20%;

		& > svg {
			display: inline-block;
			width: 60px;
			height: 60px;
			margin-right: 1rem;

			html[dir=rtl] & {
				margin-right: 0;
				margin-left: 1rem;
			}
		}

		& > div {
			display: inline-block;
			margin: 0;
			padding: 1rem;
			vertical-align: middle;
			width: calc(~'(100% - 60px - 2rem)');
		}
	}
}